.navbar {
    display: inline;
    background-color: black;
}
a{
    text-decoration: none;
}
ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: greenyellow;
  }

.left {
    float: left;
    border-right: 1px solid black;
}

.right {
    float: right;
    border-left: 1px solid black;
}

.active {
    background-color: #04AA6D;
}